/* Firefox */

* {
    scrollbar-color: rgb(197, 197, 197) white!important;
    scrollbar-width: thin!important;
}


/* WebKit and Chromiums */

 ::-webkit-scrollbar {
    width: 8px!important;
    height: 8px!important;
    background-color: white!important;
}

 ::-webkit-scrollbar-thumb {
    background: rgb(197, 197, 197)!important;
    border-radius: 0px!important;
}

@media (max-width: 991px) {
    /* start of large tablet styles */
}

@media (max-width: 767px) {
    /* start of medium tablet styles */
    .ui.ui.ui.container:not(.fluid) {
        margin-left: 0px!important;
        margin-right: 0px!important;
    }
}

@media (max-width: 539px) {
    /* start of phone styles 479 */
    .ui.search.category .category .name {
        display: none!important;
    }
    #setup-container .nomobile {
        display: none!important;
    }
}

#top-container {
    padding: 3rem 0rem 0rem 0rem!important;
}

img.main-logo {
    width: 13rem !important;
    height: 13rem !important;
}

#setup-container .ui.equal.grid {
    max-width: 100%!important;
}

#setup-container .ui.equal.grid .column {
    padding: 1.5rem 1rem 2.5rem 1rem!important;
}

#version {
    color: rgb(201, 201, 201)!important;
    font-size: 12px!important;
}

#shop-container {
    padding: 5rem 0rem 0rem 0rem!important;
    min-height: 400px!important;
}

#shop-container .ui.tab.segment {
    border: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

#product-details,
#main-menu {
    width: 100%!important;
    height: 100%!important;
}

#product-details {
    overflow-x: hidden!important;
    overflow-y: auto!important;
}

#product-details .scrolling.content,
#main-menu .scrolling.content {
    margin-top: 5rem!important;
}

.description.product.items .description {
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 2!important;
    /* number of lines to show */
    line-clamp: 2!important;
    -webkit-box-orient: vertical!important;
}

.description.product.items .extra,
.description.product.items .header {
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 1!important;
    /* number of lines to show */
    line-clamp: 1!important;
    -webkit-box-orient: vertical!important;
}

#shop-container .ui.tab {
    padding: 1rem 1rem 1rem 1rem!important
}

#setup-container .ui.grid {
    margin: 0px!important;
}

#top-container .masthead {
    font-size: 4rem!important;
    color: black!important;
}

.ui.styled.accordion .accordion .title,
.ui.styled.accordion .title,
.ui.styled.accordion,
.ui.styled.accordion .accordion {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none!important;
}

.description.product .ui.text {
    margin-bottom: 3rem!important;
}

.force.text.center {
    text-align: center!important;
}

#signals-items .icon.our.singlas {
    margin-left: 1rem!important;
}

#signals-items .animated.button {
    width: 10rem!important;
}

#signals-items .placeholder {
    border: none!important;
    background: transparent!important;
}

#signals-items {
    padding: 3rem 0rem 0rem 0rem!important;
    /*  
    background-image: url("/assets/images/signal.svg")!important;
    background-repeat: no-repeat!important;
    background-size: 15rem!important;
    background-position-x: left;
    background-position-y: bottom!important;
*/
}

#footer-container {
    min-height: 3rem!important;
    padding: 5rem 0rem 3rem 0rem!important;
}

#revue-embed {
    max-width: 20rem!important;
}

#signals-items .ui.divider {
    margin: 3rem 0rem 3rem 0rem!important;
}

#signals-items a.button {
    margin-bottom: 3rem!important;
}

#signals-items .header.intesta {
    margin-bottom: 3rem!important;
}

.footerized {
    color: #cfcfcf !important;
}

#footer-container .footerized a {
    /*font-weight: bold!important;*/
    font-size: 14px!important;
}

.ui.mini.label,
.ui.mini.labels .label {
    font-size: .759999rem!important;
}

.nomobile.slotty em {
    font-size: 12px!important;
}

.items.description.product {
    max-height: 500px!important;
    overflow-y: auto!important;
    overflow-x: hidden!important;
}

.items.description.product div.fixedtop {
    position: absolute!important;
    background: white!important;
    z-index: 3!important;
    width: 100%!important;
    left: 0px !important;
}

.items.description.product>.divider.hidden {
    height: 7rem!important;
}

.ui.text.container {
    max-width: 800px!important;
}

.ui.button.become {
    margin: 3rem 1rem 0rem 1rem!important;
}

#shop-container .tab {
    min-height: 400px!important;
}

.items.description.product .icon.input.ui {
    width: 70%!important;
}

.items.description.product .item .image img {
    cursor: pointer!important;
    border: 1px solid transparent;
}

.items.description.product .item .image img:hover {
    border: 1px solid rgb(219, 217, 217)!important;
    background: #e7e7e7!important;
}

#top-container a.become i.icon {
    margin-right: .8rem!important;
}

.ui.search.category .category .name {
    white-space: inherit!important;
    word-break: break-word!important;
    width: 30%!important;
}

.ui.search.category .category .results {
    white-space: inherit!important;
    word-break: break-word!important;
    width: 70%!important;
}

.ui.category.search .results {
    width: 80%!important;
    left: 0!important;
    right: 0!important;
    margin-left: auto!important;
    margin-right: auto!important;
}

.hidden.data {
    width: 0px!important;
    height: 0px!important;
    display: none!important;
    visibility: hidden!important;
}

#product-details .column.description {
    padding: 0rem 2rem 0rem 2rem!important;
}

#product-details .row.tags {
    margin: 1rem 0rem 1rem 0rem!important;
}

#product-details .images img.image {
    cursor: pointer!important;
}

#product-details .ui.text.version {
    margin: 0rem 0rem 3rem 0rem!important;
}

#product-details .download.box {
    margin: 0rem 0rem 3rem 0rem!important;
}

#product-details .download.box button {
    margin: .5rem 0rem .5rem 0rem!important;
}

#product-details .comments {
    margin: 3rem 0rem 1rem 0rem!important;
}

#product-details .images.list {
    margin: 3rem 0rem 1rem 0rem!important;
}