/* start of desktop styles */

@media (max-width: 991px) {
    /* start of large tablet styles */
}

@media (max-width: 767px) {
    /* start of medium tablet styles */
}

@media (max-width: 539px) {
    /* start of phone styles 479 */
    #setup-container .nomobile {
        display: none!important;
    }
}

#top-container {
    padding: 3rem 0rem 0rem 0rem!important;
}

img.main-logo {
    width: 13rem !important;
    height: 13rem !important;
}

#setup-container .ui.equal.grid {
    max-width: 100%!important;
}

#setup-container .ui.equal.grid .column {
    padding: 1.5rem 1rem 2.5rem 1rem!important;
}

#version {
    color: rgb(201, 201, 201)!important;
}

#shop-container {
    padding: 5rem 0rem 5rem 0rem!important;
    min-height: 400px!important;
}

#shop-container .ui.tab.segment {
    border: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

#main-menu {
    width: 100%!important;
    height: 100%!important;
}

#main-menu .scrolling.content {
    margin-top: 5rem!important;
}

.items .description {
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 2!important;
    /* number of lines to show */
    line-clamp: 2!important;
    -webkit-box-orient: vertical!important;
}

.items .extra,
.items .header {
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 1!important;
    /* number of lines to show */
    line-clamp: 1!important;
    -webkit-box-orient: vertical!important;
}

#shop-container .ui.tab {
    padding: 1rem 1rem 1rem 1rem!important
}

#setup-container .ui.grid {
    margin: 0px!important;
}

#top-container .masthead {
    font-size: 4rem!important;
    color: black!important;
}

.ui.styled.accordion .accordion .title,
.ui.styled.accordion .title,
.ui.styled.accordion,
.ui.styled.accordion .accordion {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none!important;
}

#shop-items .ui.text {
    margin-bottom: 3rem!important;
}

.force.text.center {
    text-align: center!important;
}